@{
    ViewData["Title"] = "Home Page";
}

<div class="mx-auto text-center">

<br />
<!-- Hero Section -->
<section class="hero bg-primary text-white text-center py-5">
    <div class="container">
        <h1 class="display-4">Dobrodošli na stranicu nezaboravi.eu</h1>
        <p class="lead">Jednostavna besplatna aplikacija gdje nikada nećete zaboraviti popis za kupnju.</p>
        <h4>Registriranih korisnika:  @ViewBag.RegistriranihKorisnika | Napravljenih zapisa: @ViewBag.NapravljenihZapisa </h4>
    </div>
</section>
<br />
<!-- Features Section -->
<section class="features py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h3 class="card-title">Pregled svih zapisa</h3>
                        <p class="card-text">Na jednom mjestu imate sve zapise koje stvari želite kupiti u dućanu.
                        </p>
                            <a href="ArtiklIndex" class="btn btn-primary btn-lg" style="color: white;">Pregledaj sve zapise</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h3 class="card-title">Jednostavan upis zapisa</h3>
                        <p class="card-text">Jednstavan upis zapisa gdje upisujete što se želi kupiti i u kojem dućanu.</p>
                            <a href="ArtiklCreate" class="btn btn-primary btn-lg" style="color: white;">Upiši zapis</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h3 class="card-title">Jednostavno brisanje zapisa</h3>
                         <p class="card-text">Jedostavno brisanje zapisa gdje brišete ono što je kupljeno.</p>
                            <a href="ArtiklIndex" class="btn btn-primary btn-lg" style="color: white;">Pregledaj i obriši određeni zapis</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
     <div class="row">
     <div class="col-md-6">
            <a href="https://aurahealth.sjv.io/c/4180835/1850085/21746" target="_top" id="1850085"><img src="//a.impactradius-go.com/display-ad/21746-1850085" border="0" alt="" width="400" height="200" /></a><img height="0" width="0" src="https://imp.pxf.io/i/4180835/1850085/21746" style="position:absolute;visibility:hidden;" border="0" />
     </div>
        <div class="col-md-6">
            <a href="https://ecomail.sjv.io/c/4180835/1758538/20555" target="_blank" id="1758538"><img src="//a.impactradius-go.com/display-ad/20555-1758538" border="0" alt="" width="400" height="200" /></a><img height="0" width="0" src="https://imp.pxf.io/i/4180835/1758538/20555" style="position:absolute;visibility:hidden;" border="0" />
        </div>
 </div>
<br />
</section>
    <div class="row mx-auto text-center">
        <a href="https://world-of-warships.pxf.io/c/4180835/1728790/12082" target="_blank" id="1728790"><img src="//a.impactradius-go.com/display-ad/12082-1728790" border="0" alt="" width="400" height="90" /></a><img height="0" width="0" src="https://imp.pxf.io/i/4180835/1728790/12082" style="position:absolute;visibility:hidden;" border="0" />
    </div>
    <br />
    <div class="row mx-auto text-center">
        <a href="https://atlasvpn.sjv.io/c/4180835/929200/12618" target="_top" id="929200"><img src="//a.impactradius-go.com/display-ad/12618-929200" border="0" alt="" width="400" height="90"/></a><img height="0" width="0" src="https://imp.pxf.io/i/4180835/929200/12618" style="position:absolute;visibility:hidden;" border="0" />
    </div>
</div>