@{
    ViewData["Title"] = "Privacy Policy";
}

   <h1>Privacy Policy for nezaboravi.eu</h1><br />

    <p>At nezaboravi.eu, we are committed to safeguarding your privacy while providing you with a seamless and personalized experience. This Privacy Policy outlines how we collect, use, disclose, and protect your personal information when you use our website or services.</p>

    <p>By accessing or using nezaboravi.eu, you agree to the terms outlined in this Privacy Policy. If you do not agree with any aspect of this policy, please refrain from using our website or services.</p>

    <h2>1. Information We Collect:</h2><br />

    <p>a. <strong>Personal Information:</strong> When you register for an account or use our services, we may collect personal information such as your name, email address, and any other information you voluntarily provide.</p>

    <p>b. <strong>Usage Data:</strong> We may collect information about how you interact with our website, including your IP address, browser type, pages visited, and timestamps.</p>

    <h2>2. Use of Information:</h2><br />

    <p>a. <strong>Providing and Improving Services:</strong> We use the information collected to provide, maintain, and improve our services, personalize your experience, and develop new features.</p>

    <p>b. <strong>Communication:</strong> We may use your email address to send you important updates, newsletters, or promotional materials. You can opt-out of receiving such communications at any time.</p>

    <p>c. <strong>Analytics:</strong> We may use third-party analytics tools to analyze trends, track user behavior, and gather demographic information.</p>

    <h2>3. Disclosure of Information:</h2><br />

    <p>a. <strong>Third-Party Service Providers:</strong> We may share your information with third-party service providers who assist us in operating our website, conducting business, or servicing you. These parties are obligated to keep your information confidential and use it only for specified purposes.</p>

    <p>b. <strong>Legal Compliance:</strong> We may disclose your information when required by law, to enforce our site policies, or to protect ours or others' rights, property, or safety.</p>

    <h2>4. Cookies and Tracking Technologies:</h2><br />

    <p>We use cookies and similar tracking technologies to enhance your browsing experience, analyze usage patterns, and deliver personalized content. You can control cookies through your browser settings and opt-out of certain tracking technologies.</p>

    <h2>5. Data Security:</h2><br />

    <p>We employ industry-standard security measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction. However, no method of transmission over the internet or electronic storage is 100% secure, and we cannot guarantee absolute security.</p>

    <h2>6. Children's Privacy:</h2><br />

    <p>Our website and services are not intended for individuals under the age of 13. We do not knowingly collect personal information from children under 13. If you are a parent or guardian and believe that your child has provided us with personal information, please contact us immediately.</p>

    <h2>7. Changes to this Privacy Policy:</h2> <br />

    <p>We reserve the right to update or modify this Privacy Policy at any time. Any changes will be reflected on this page, and we encourage you to review this policy periodically for any updates.</p>

    <h2>8. Contact Us:</h2><br />

    <p>If you have any questions or concerns about this Privacy Policy or our practices, please contact us at <a href="mailto:contact@nezaboravi.eu">contact@nezaboravi.eu</a>.</p>

    <p>By using nezaboravi.eu, you consent to the collection and use of your information as outlined in this Privacy Policy.</p>